# Build artefaktları (PyInstaller)
build/
dist/
*.spec

# Python cache
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so
.Python

# Loglar (Hem klasörü hem de dışarıdaki .log dosyalarını yok say)
logs/
*.log

# IDE Ayarları (main'den alındı)
.vscode/
.idea/

# OS (İşletim Sistemi) çöp dosyaları (main'den alındı)
.DS_Store
Thumbs.db

installer_output/